[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "4mog8e82CLaqu6YxuSgoyZQsnLWHhTLR9aQvPHg8sXfk"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
